extends layout

block content
  h1 new todo list
  p: a(href="/") Home
  form(action="/todo", method="post")
    p
      label Enter a new todo item
      input(type='text',placeholder='new todo',name='todo-text')
    p
      input(type='submit', value='Save')
  ul
    each todo in todos
      li #{todo.txt}
